.horizontal {
	display: flex;
	justify-content: center;
}

.vertical {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	align-items: center;
}

.item-height {
	height: 100rpx;
}

.mt5 {
	margin-top: 10rpx;
}

.mt10 {
	margin-top: 20rpx;
}

.mt15 {
	margin-top: 30rpx;
}

.mt20 {
	margin-top: 40rpx;
}

.pt10 {
	padding-top: 20rpx;
}

.ml5 {
	margin-left: 10rpx;
}

.ml10 {
	margin-left: 20rpx;
}

.mr5 {
	margin-right: 10rpx;
}

.mr10 {
	margin-right: 20rpx;
}

.mb5 {
	margin-bottom: 10rpx;
}

.mb10 {
	margin-bottom: 20rpx;
}

.mb15 {
	margin-bottom: 30rpx;
}
